/* Estilos generales del cuerpo del documento */
body {
    font-family: sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    margin: 0;
}
/* Estilos para el encabezado y el pie de página */
header, footer {
    grid-column: 1 / -1;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;  
}
/* Estilos para el contenido principal */
main {
    grid-column: 2 / -1;
    background-color: #ADC4CE;
    padding: 20px;
}
/* Estilos para la barra de navegación */
nav {
    grid-row: 2 / -1;
    background-color: #B4B4B8;
    color: white;
    padding: 10px;
    
}
/* Estilos para los enlaces de navegación */
nav li a:hover {
    font-size: 20px;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #afaeae;    
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

/* Bloques individuales */
.bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 500px;
    text-align: center;
}

.bloque-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 500px;
    text-align: center;
}

/* Estilos para las imágenes dentro de los bloques */
.bloque img {
    width: auto;
    height: 19em;
    margin-bottom: 10px;
}

.bloque-1 img {
    width: auto;
    height: 30em;
    margin-bottom: 10px;
}

/* Títulos y texto */
.bloque h2 {
    font-size: 18px;
    margin-top: 0;
}

.bloque p {
    font-size: 16px;
    margin-bottom: 0;
}

/*footer*/
/* Estilos del pie de página */
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: capitalize;
}
/* Estilos de los enlaces dentro del pie de página */
.footer-1 {
    background-color: #24262B;
    padding: 80px 0; 
    margin-top: auto;
    
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}
/* Estilos de los enlaces sociales */
.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
/* Media query para dispositivos con un ancho máximo de 991px */
@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

.social-link a:hover {
    background-color: #00c3ff;
}

